@font-face {
  font-family: Medium;
  src: url("../fonts/FiraSans/FiraSans-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: Light;
  src: url("../fonts/FiraSans/FiraSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: Extra Light Italic;
  src: url("../fonts/FiraSans/FiraSans-ExtraLightItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: Book;
  src: url("../fonts/FiraSans/FiraSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: Book Italic;
  src: url("../fonts/FiraSans/FiraSans-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: Bold;
  src: url("../fonts/FiraSans/FiraSans-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Regular;
  src: url("../fonts/FiraSans/FiraSans-Regular.ttf");
  font-display: swap;
}

:root {
  --small-gap: 0.5em;
  --medium-gap: 1em;
  --large-gap: 2em;
  --extra-large-gap: 3em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  overflow: hidden;
}

body {
  position: relative;
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  overflow: hidden;
  gap: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

body > .background {
  background: rgb(122, 241, 176);
  background: linear-gradient(
    315deg,
    rgba(135, 206, 235, 1) 0%,
    rgba(197, 135, 235, 1) 20%,
    rgba(209, 255, 127, 1) 40%,
    rgba(255, 75, 127, 1) 60%,
    rgba(122, 241, 176, 1) 80%,
    rgba(122, 228, 241, 1) 100%
  );
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 500% 500%;
  transition: all 2s ease-in-out;
}

h1{
  font-size: 2em;
  white-space: nowrap;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  gap: var(--medium-gap);
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 0;
}

header .page-title{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

header .logo-container svg {
  height: 4em;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1em;
  width: 100%;
  max-height: 4em;

}

header .menu-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  padding: 0.5em;
}



header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  aspect-ratio: 5/1;
  width: fit-content;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

header nav li {
  list-style-type: none;
  z-index: 2;
}

header nav ul > .background {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  transition: all 2s ease-in-out;
}

header nav li button {
  padding: 0.5em;
  border: none;
  background: none;
  font-size: 1em;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
}

header nav li button:is(:hover, :focus) {
  background: rgba(255, 255, 255, 0.25);
}

header nav li svg {
  height: 2.7em;
}

.content-container {
  width: 500%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4rem;
  height: 100%;
  padding: 2rem;
  padding-top: 0;
  transition: all 2s ease-in-out;
}

.content-box-1,
.content-box-2,
.content-box-3,
.content-box-4,
.content-box-5 {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

@media (min-width: 550px) {
  header .logo-container svg {
    height: 100%;
  }

  header .page-title{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  header nav ul {
    justify-content: flex-end;
    width: auto;
  }

  header nav li svg {
    height: 3em;
  }
}

@media (min-width: 950px) {

  header {
    flex-direction: row;
  }

  header nav {
    flex-direction: row;
    height: 100%;
    width: fit-content;
    aspect-ratio: 5/1;
    max-height: unset;
  }
}