@font-face {
  font-family: WorkSans-black;
  src: url(/Work_Sans/WorkSans-Black.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-Bold;
  src: url(/Work_Sans/WorkSans-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-ExtraBold;
  src: url(/Work_Sans/WorkSans-ExtraBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-ExtraLight;
  src: url(/Work_Sans/WorkSans-ExtraLight.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-Light;
  src: url(/Work_Sans/WorkSans-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-Medium;
  src: url(/Work_Sans/WorkSans-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-Regular;
  src: url(/Work_Sans/WorkSans-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-SemiBold;
  src: url(/Work_Sans/WorkSans-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-Thin;
  src: url(/Work_Sans/WorkSans-Thin.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-blackItalic;
  src: url(/Work_Sans/WorkSans-BlackItalic.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-BoldItalic;
  src: url(/Work_Sans/WorkSans-BoldItalic.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-ExtraBoldItalic;
  src: url(/Work_Sans/WorkSans-ExtraBoldItalic.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-ExtraLightItalic;
  src: url(/Work_Sans/WorkSans-ExtraLightItalic.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-LightItalic;
  src: url(/Work_Sans/WorkSans-LightItalic.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-MediumItalic;
  src: url(/Work_Sans/WorkSans-MediumItalic.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-RegularItalic;
  src: url(/Work_Sans/WorkSans-RegularItalic.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-SemiBoldItalic;
  src: url(/Work_Sans/WorkSans-SemiBoldItalic.ttf);
  font-display: swap;
}

@font-face {
  font-family: WorkSans-ThinItalic;
  src: url(/Work_Sans/WorkSans-ThinItalic.ttf);
  font-display: swap;
}

:root {
  --small-gap: 0.5rem;
  --medium-gap: 1rem;
  --large-gap: 2rem;
  --extra-large-gap: 4rem;

  --border-radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: var(--font-size);
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: WorkSans-Medium;
}

body > .background {
  background: rgb(116, 171, 226);
  background: linear-gradient(
    135deg,
    rgba(53, 36, 132, 1) 0%,
    rgba(143, 91, 160, 1) 33.33%,
    rgba(234, 90, 132, 1) 66.66%,
    rgba(242, 156, 23, 1) 100%
  );
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 300% 300%;
  transition: all 2s ease-in-out;
}

h1 {
  font-size: 2em;
  white-space: wrap;
  font-weight: 300;
  font-size: clamp(1.5em, 6vw, 2em);
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--small-gap);
  padding: 2rem;
  padding-bottom: 0;
  font-size: 1.5em;
}

header .page-title {
  display: flex;
  flex-direction: column;
}

header .logo-container svg {
  height: 4em;
}

header nav {
  width: 100%;
  height: 100%;
}

header .menu-text {
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  padding: 0.5em;
}

header .menu-text:not([hidden]) {
  display: flex;
}
header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* aspect-ratio: 5/1; */
  width: fit-content;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

header nav li {
  list-style-type: none;
  z-index: 2;
}

header nav ul > .background {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
  position: absolute;
  height: 100%;
  width: 33.33%;
  top: 0;
  left: 0;
  transition: all 2s ease-in-out;
}

header nav li button {
  padding: 0.5em;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: var(--border-radius);
}

header nav li button:is(:hover, :focus) {
  background: rgba(255, 255, 255, 0.25);
}

header nav li svg {
  height: 3em;
}

.content-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--large-gap);
  height: 100%;
  padding: 2rem;
  padding-top: 0;
  overflow: auto;
  font-size: 1.15em;
}

.content-container-js {
  width: 300%;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 2.2em;
  gap: var(--extra-large-gap);
  transition: all 2s ease-in-out;
  font-size: 1.5em;
}

.content {
  width: 100%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
  padding: 2rem;
  display: grid;
  row-gap: var(--medium-gap);
  column-gap: var(--extra-large-gap);
  grid-template-columns: 1fr;
  overflow: hidden;
}
.content-container-js .content {
  min-height: 50vh;
  min-height: 50svh;
}

.content-container .content-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.person-container {
  display: flex;
  flex-direction: column;
  gap: var(--large-gap);
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 1em 0;
}

.person-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--medium-gap);
  border-radius: 50em;
  aspect-ratio: 1;
  padding: 0.5rem;
  width: 3em;
  background-color: lightblue;
}

.content-container-js .person-birth-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-birth-day b {
  font-weight: 600;
  font-size: 1.2em;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--large-gap);
}

.content-container-js .project-container {
  grid-template-columns: 1fr 1fr;
}

.projects {
  width: 100%;
  gap: var(--medium-gap);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em 0;
}

.projects .project-content {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  font-weight: 600;
}

.content span {
  font-size: 0.75em;
  font-weight: 300;
}

@media (min-width: 640px) {
  .content-container-js {
    font-size: 2em;
  }

  .content-container-js .content-box-1 {
    flex-direction: column;
  }

  .content-container-js .content-box-1 .content-title {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .content-container .person-birth-day {
    align-items: flex-start;
  }

  .person-container {
    flex-direction: row;
  }

  .person-birth-day {
    align-items: flex-start;
  }

  .content-container-js .person-birth-day {
    align-items: flex-start;
  }

  .content-container .content-title {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (min-width: 800px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }

  .content .content-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .content-container-js .content {
    grid-template-columns: 1fr;
  }

  .content-container-js .content .content-title {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset;
  }
}

@media (min-width: 920px) {
  header .page-title {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 1320px) {
  .content-container-js .content {
    grid-template-columns: 1fr 1fr;
  }

  .content-container-js .content .content-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media (min-width: 1350px) {
  html,
  body {
    overflow: hidden;
  }

  body {
    height: 100vh;
    height: 100svh;
    overflow: hidden;
  }

  body > .background {
    height: 100vh;
  }

  header {
    flex-direction: row;
  }

  header nav {
    width: fit-content;
    aspect-ratio: 3/1;
    max-height: unset;
  }

  header nav ul {
    width: 100%;
    height: 100%;
  }

  header nav li {
    aspect-ratio: 1;
  }

  header nav li svg {
    height: auto;
  }

  .content-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    padding: 2rem;
    padding-top: 0;
  }

  .content-container-js {
    gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content {
    grid-template-columns: 1fr;
    height: 100%;
  }

  .content-container .content-title {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset;
  }

  .content-container-js {
    width: 300%;
  }

  .content-container-js .content-box-1 {
    grid-template-columns: 1fr 1fr;
  }

  .content-container-js .content-box-1 .content-title {
    align-items: flex-start;
    justify-content: flex-start;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@media (min-width: 1530px) {
  .content {
    font-size: 1.2em;
  }
}

@media (min-width: 1800px) {
  .content {
    font-size: 1.4em;
  }
}
