:root {
  --small-gap: 0.5em;
  --medium-gap: 1em;
  --large-gap: 2em;
  --extra-large-gap: 3em;

  --border-radius: 0.3em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

body > .background {
  background: rgb(122, 241, 176);
  background: linear-gradient(
    315deg,
    rgba(135, 206, 235, 1) 0%,
    rgba(197, 135, 235, 1) 20%,
    rgba(209, 255, 127, 1) 40%,
    rgba(255, 75, 127, 1) 60%,
    rgba(122, 241, 176, 1) 80%,
    rgba(122, 228, 241, 1) 100%
  );
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 500% 500%;
  transition: all 2s ease-in-out;
}

h1 {
  font-size: 2em;
  white-space: wrap;
  font-weight: 500;
  font-size: clamp(1.5em, 6vw, 2em);
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--small-gap);
  padding: 2rem;
  padding-bottom: 0;
  font-size: 1.5em;
}

header .page-title {
  display: flex;
  flex-direction: column;
}

header .logo-container svg {
  height: 4em;
}

header nav {
  gap: 1em;
  width: 100%;
}

header .menu-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  padding: 0.5em;
}

/* header .menu-text {

} */

header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* aspect-ratio: 5/1; */
  width: fit-content;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

header nav li {
  list-style-type: none;
  z-index: 2;
}

header nav ul > .background {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  transition: all 2s ease-in-out;
}

header nav li button {
  padding: 0.5em;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: var(--border-radius);
}

header nav li button:is(:hover, :focus) {
  background: rgba(255, 255, 255, 0.25);
}

.content-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 100%;
  padding: 2rem;
  padding-top: 0;
  overflow: auto;
  font-size: 1.15em;
}

.content-container-js {
  width: 500%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4rem;
  transition: all 2s ease-in-out;
}

.content {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  overflow: hidden;
}

.content-container-js .content-box-5 {
  grid-column-start: unset;
  grid-column-end: unset;
  grid-row-start: unset;
  grid-row-end: unset;
}

.content-container .content-box-1 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  gap: var(--large-gap);
  align-items: center;
}

.content-container-js .content-box-1 {
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
}

.content-container-js {
  font-size: 1.5em;
}

.content .person-container {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5em;
}

.content .person-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--medium-gap);
  border-radius: 50em;
  aspect-ratio: 1;
  padding: 0.5rem;
  width: 4em;
  background-color: lightblue;
}

.content-container-js .content .person-birth-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75em;
}

.content .person-birth-day span {
  font-weight: 600;
  font-size: 1.2em;
}

@media (min-width: 435px) {
  .content-container .content-box-1 {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }

  .content-container-js .content .person-birth-day {
    font-size: 1em;
  }
}

@media (min-width: 640px) {
  header nav li svg {
    height: 3em;
  }
  .content-container-js .content-box-1 {
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  }

  .content-container-js {
    font-size: 2em;
  }
}

@media (min-width: 730px) {
  .content-container .content-box-1 {
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  }
}

@media (min-width: 830px) {
  .content-container-js .content-box-1 {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}

@media (min-width: 850px) {
  header {
    gap: var(--medium-gap);
  }

  header .page-title {
    gap: var(--medium-gap);
  }

  header .logo-container svg {
    height: 100%;
    min-height: 85px;
  }

  header .page-title {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  header nav ul {
    justify-content: flex-end;
    width: auto;
  }

  .content .person-container {
    flex-direction: row;
  }

  .content .person-birth-day {
    align-items: flex-start;
  }

  .content-container-js .content .person-birth-day {
    align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .content-container .content-box-1 {
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  }
}

@media (min-width: 1150px) {
  html,
  body {
    overflow: hidden;
  }

  body {
    height: 100vh;
    height: 100svh;
    overflow: hidden;
  }

  body > .background {
    height: 100vh;
  }

  .content-container-js .content-box-1 {
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  }
}

@media (min-width: 1400px) {
  header {
    flex-direction: row;
  }

  header nav {
    height: 91px;
    width: fit-content;
    aspect-ratio: 5/1;
    max-height: unset;
  }

  header nav ul {
    width: 100%;
    height: 100%;
  }

  header nav li {
    aspect-ratio: 1;
  }

  header nav li svg {
    height: auto;
    min-height: 8var (--border-radius);
  }

  .content-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    height: 100%;
    padding: 2rem;
    padding-top: 0;
  }

  .content-box-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .content-container-js {
    width: 500%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4rem;
    transition: all 2s ease-in-out;
  }

  .content-container .content-box-1 {
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  }
}

@media (min-width: 2000px) {
  .content-container .content-box-1 {
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  }

  .content-container-js .content-box-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
